body {
    background-image: url("//miro.medium.com/max/1400/0*FymxtkXY7_IRhbPV");
}

img {
    border-radius: 50%;
    width: 300px;
}

h1 {
    text-align: center;
}

.aboutText {
    color: white;
    margin-left: 5%;
    font-size: 25px;
    text-align: left;
}

.titleproject {
    color: yellow;
}

.text {
    text-align: center;
    color: rgb(57, 57, 230);
}



.animText {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 5%;
}



.navbar {
    color: white;
    margin-left: 10px;
}

.navbar.navbar-dark {
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
}

.main {
    padding: 16px;
    margin-top: 30px;
}



h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
}


.mycard {
    color: white;
    align-items: center;
    margin: 5%;
}

.projectimg {
    width: 500px;
    height: 300px;
    border-radius: 5%;
    text-align: center;

}

.projecttext {
    text-align: justify;
    margin: 5% 5%;
    background-color: rgba(36, 35, 35, 0.372);
}

.logoapp {
    border-radius: 50%;
    background-color: rgb(243, 27, 56);
}

.imgandtextproject {
    text-align: center;
}

.imglogo {
    width: 50px;
}

ul.navbar-nav.text-right {
    display: -webkit-inline-box;
    margin-right: 20px;
}

.imgaboutme {
    text-align: center;
}

.namelogo {
    margin-left: 10px;
}