.sizePage {
    height: 1020px;
}

.animText {
    font-size: 4rem;
    text-align: center;
    margin-top: 5%;
    /* font-family: Monospace; */
    font-family: 'Nerko One', cursive;
}

.imgaboutme {
    text-align: center;
}

.aboutText {
    margin-left: 8%;
    font-style: italic;
    font-size: 2.5rem;
    text-align: left;
}

.nightaboutme {
    color: white;
}

.dayaboutme {
    color: black;
}

.nightbackgroundModeaboutme {
    background-color: #659DBD;
}

.daybackgroundModeaboutme {
    background-color: #3AAFA9;
}