body {
    /* background-image: url("//miro.medium.com/max/1400/0*FymxtkXY7_IRhbPV"); */
}

img {
    border-radius: 50%;
    width: 300px;
}

h1 {
    text-align: center;
}

label {
    color: #333;
}

.night {
    color: white;

}

.day {
    color: black;
}

.main {
    padding: 16px 0px;
}


/* .btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
} */

/* .logoapp {
    border-radius: 50%;
    background-color: rgb(243, 27, 56);
} */

.nightbackgroundModeapp {
    background-color: #659DBD;
}

.daybackgroundModeapp {
    background-color: #3AAFA9;
}